@media screen and (min-width: 769px){

*{
  box-sizing: border-box;
}

body {
  background-color: silver;
  margin: 0;
}
/* 以下 ヘッダー記述 */
header {
  background-image: url("header.png");
  background-size: cover;
  font-family:'Segoe Script';
  height: 100%;

}
.header {
  max-width: 50%;
  margin:0 auto;
  text-align: center;
  padding:15% 0;
}

.header-title{
  /* メインタイトル
  文字透明 色：白　影　ボーダーあり 中央揃い */
  opacity: 0.7;
  color: white;
  border:thin solid #fff;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-shadow: 1px 2px 3px black;
}
.header h1{
  font-size: 36px;

}
.header p{
  font-size: 24px;

}
/* 以下　メインコンテンツ共通記述 */
.profile-page{
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.top {
  text-align: center;
}
.title {
  text-align: center;
  border:thin solid black;
  padding:10px 50px;
  display: inline-block;
  width: 25%;
  margin-bottom: 30px;

}
.container {
  margin-bottom:50px;
}

img {
  padding:10px;
  border:thin solid black;
}
/* トップアイコン記述 */
.profile-img {
  height: 200px;
  width: 200px;
  margin: 80px 0 80px 0;
  box-shadow: 2px 3px 3px black;

}
/* プロフィール記述 */
.profile-content {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom:20px;
}
.profile-content .text{
  display: inline-block;
  text-align: left;

}
/* 趣味記述　趣味毎3列表示 */

.hobby-type {
  width: 33%;
  float:left;
  margin-bottom: 50px;
}
.hobby-icon {
  height: 100px;
  width: 100px;
}
.hobby .text {
  max-width: 50%;
  margin:0 auto;
  padding-top: 20px;
}
/* キャリア記述 中央揃え　文は左詰め */
.career {
  margin-top: 50px;
}
.career-content {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.box {
  display: inline-block;
  text-align: left;
}
.box p{

  padding: 5px 0;
  border-bottom: 1px solid gray;
}
/* PR */

/* 連絡先 */

/* フッター */
.footer {
  margin: 0 auto;
  color: white;
  font-size: 15px;
  text-shadow: 1px 2px 3px black;
}
footer .text {
  text-align: center;
}
}
